### Python template
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Created by .ignore support plugin (hsz.mobi)

# NEO4J
node_modules/
npm-debug.log

/neo4j-*
/utils/neo4j
/neo4j
generators/_old_texts
# PyCharm
.idea/
!neo4j/.nodata
!_olds/_black_hole/.nodata
generators/file_prog.txt
generators/hey.txt
generators/simple_dict/
_olds/
a-cartomante-machado.txt
# Neo4j Backups
neo4j_playground
generators/local_dicts
!generators/local_dicts/.nodata
!generators/simple_dict/.nodata
*.jar
*.tar.gz
_black_box
neo4j_playground-old
